* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
.textarea {
  width: 70vw;
  height: 540px;
  background: #f1f1f1;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
  resize: none;
}
.output {
  width: 35vw;
  height: 540px;
  background: #222;
  border-radius: 10px;
  margin-left: 20px;
  outline: none;
  padding: 10px;
  color: #fff;
  line-height: 3rem;
  font-size: 18px;
}

.text-center {
  text-align: center;
  font-size: 2rem;
}
